<style type="text/css">
    * {
        box-sizing: border-box;
    }    

    .cat {
        margin: 20px;
        padding: 10px;
        border: 3px solid #DDD;
        border-radius: 5px;
        background-color: darkolivegreen;
        text-align: center;
        color: #fff;
    }

    img.cat {
        height: 200px;
        width: auto;
        background-color: #DDD;
    }

    th, td {
        padding: 20px;
    }
    tr, td, th {
        border: 1px solid #DDD;
    }

    @media print {
        p {
            page-break-inside: avoid;
        }

        h2 {
            page-break-before: always;
        }

        footer {
            page-break-after: always;
        }
    }
</style>
<html>

<body>
    {{!-- FORCE PAGE BREAK <br><div style="page-break-after:always;"></div> --}}

    <h1>Top Cats</h1>
    <p>Owner: {{owner.firstName}} {{owner.lastName}}</p>
    <p>Gender: {{owner.gender}} DOB: {{owner.dob}} ZIP: {{owner.zip}}</p>
    <table>
        <thead>
            <th>Index</th>
            <th>url</th>
        </thead>
        <tbody>
            {{#each cats as |cat|}}
                <tr>
                    <td>{{@index}}</td>
                    <td>{{cat.url}}</td>
                </tr>
            {{/each}}        
            {{#each cats as |cat|}}
                <tr>
                    <td>{{@index}}</td>
                    <td>{{cat.url}}</td>
                </tr>
            {{/each}}        
        </tbody>
    </table>
    {{#each cats as |cat|}}
    <div class="cat">
        <h2>Cat {{@index}}</h2>
        <img src="{{cat.url}}" class="cat">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, eveniet.</p>
        <a href="{{cat.url}}" target="_blank">View in browser</a>
    </div>

    {{/each}}
</body>

</html>